main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-header,
.main-footer {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: 1rem;
  text-align: center;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header-content h1 {
  justify-self: center;
  font-size: 1.5rem;
  font-weight: 700;
}

#user-name-display {
  justify-self: start;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  min-width: 100px;
}

#user-points-display {
  justify-self: end;
  text-align: right;
  font-weight: 600;
  font-size: 1rem;
  min-width: 100px;
}

.main-footer p {
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: underline;
}

/* Moile Query */
@media (max-width: 600px) {
  main {
    padding: 0;
    align-items: flex-start;
  }

  .header-content {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    text-align: center;
  }

  #user-name-display,
  #user-points-display {
    justify-self: center;
    text-align: center;
    font-size: 0.9rem;
  }

  .header-content h1 {
    font-size: 1.2rem;
  }
}
